In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hovd,MN,2021-05-21 16:39:50,48.0056,91.6419,275.77,45,97,0.37
1,1,Mvangue,CM,2021-05-21 16:39:51,2.9667,11.5167,295.88,96,99,0.90
2,2,Aksarka,RU,2021-05-21 16:39:51,66.5606,67.7975,294.23,52,24,3.63
3,3,Nikolskoye,RU,2021-05-21 16:39:52,59.7035,30.7861,285.04,89,97,4.56
4,4,Sisimiut,GL,2021-05-21 16:39:53,66.9395,-53.6735,274.85,70,100,11.68

In [3]:
#6.5.2
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hovd,MN,2021-05-21 16:39:50,48.0056,91.6419,275.77,45,97,0.37
1,1,Mvangue,CM,2021-05-21 16:39:51,2.9667,11.5167,295.88,96,99,0.90
2,2,Aksarka,RU,2021-05-21 16:39:51,66.5606,67.7975,294.23,52,24,3.63
3,3,Nikolskoye,RU,2021-05-21 16:39:52,59.7035,30.7861,285.04,89,97,4.56
4,4,Sisimiut,GL,2021-05-21 16:39:53,66.9395,-53.6735,274.85,70,100,11.68

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [12]:
min_temp = (min_temp - 32) * (5/9) + 273.15 
max_temp = (max_temp - 32) * (5/9) + 273.15 
print(min_temp)
print(max_temp)

291.4833333333333
305.3722222222222

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mvangue,CM,2021-05-21 16:39:51,2.9667,11.5167,295.88,96,99,0.90
2,2,Aksarka,RU,2021-05-21 16:39:51,66.5606,67.7975,294.23,52,24,3.63
5,5,Vaini,TO,2021-05-21 16:39:53,-21.2000,-175.2000,299.24,89,75,6.17
6,6,Torbay,CA,2021-05-21 16:39:54,47.6666,-52.7314,293.98,45,40,10.80
7,7,Bria,CF,2021-05-21 16:39:54,6.5423,21.9863,297.20,71,79,0.64
8,8,Hithadhoo,MV,2021-05-21 16:39:55,-0.6000,73.0833,302.06,71,25,2.36
12,12,Kapaa,US,2021-05-21 16:39:57,22.0752,-159.3190,296.33,76,75,0.89
13,13,Albany,US,2021-05-21 16:35:43,42.6001,-73.9662,301.12,43,86,0.89
17,17,Trinidad,BO,2021-05-21 16:40:00,-14.8333,-64.9000,304.14,66,75,7.72
21,21,Kruglolesskoye,RU,2021-05-21 16:40:04,44.6589,42.8142,301.20,72,26,0.59

In [14]:
preferred_cities_df.count()

City_ID       278
City          278
Country       276
Date          278
Lat           278
Lng           278
Max Temp      278
Humidity      278
Cloudiness    278
Wind Speed    278
dtype: int64

In [15]:
#6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1          Mvangue      CM    295.88   2.9667   11.5167
2          Aksarka      RU    294.23  66.5606   67.7975
5            Vaini      TO    299.24 -21.2000 -175.2000
6           Torbay      CA    293.98  47.6666  -52.7314
7             Bria      CF    297.20   6.5423   21.9863
8        Hithadhoo      MV    302.06  -0.6000   73.0833
12           Kapaa      US    296.33  22.0752 -159.3190
13          Albany      US    301.12  42.6001  -73.9662
17        Trinidad      BO    304.14 -14.8333  -64.9000
21  Kruglolesskoye      RU    301.20  44.6589   42.8142

In [16]:
#6.5.4
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
hotel_df

                 City Country  Max Temp      Lat       Lng Hotel Name
1             Mvangue      CM    295.88   2.9667   11.5167
2             Aksarka      RU    294.23  66.5606   67.7975
5               Vaini      TO    299.24 -21.2000 -175.2000
6              Torbay      CA    293.98  47.6666  -52.7314
7                Bria      CF    297.20   6.5423   21.9863
..                ...     ...       ...      ...       ...        ...
541  Puerto Escondido      MX    304.59  15.8500  -97.0667
542            Majene      ID    299.40  -3.5403  118.9707
544  Puerto Leguizamo      CO    301.19  -0.1934  -74.7819
546              Sola      VU    299.99 -13.8833  167.5500
549            Xuddur      SO    301.25   4.1213   43.8894

[278 rows x 6 columns]

In [18]:
#6.5.4
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mvangue,CM,295.88,2.9667,11.5167,
2,Aksarka,RU,294.23,66.5606,67.7975,
5,Vaini,TO,299.24,-21.2000,-175.2000,Keleti Beach Resort
6,Torbay,CA,293.98,47.6666,-52.7314,Gallows Cove
7,Bria,CF,297.20,6.5423,21.9863,
...,...,...,...,...,...,...
541,Puerto Escondido,MX,304.59,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
542,Majene,ID,299.40,-3.5403,118.9707,Kost Putri RABBANI
544,Puerto Leguizamo,CO,301.19,-0.1934,-74.7819,la casona de juancho
546,Sola,VU,299.99,-13.8833,167.5500,Leumerus Bungalows
549,Xuddur,SO,301.25,4.1213,43.8894,Banjanay Hotel

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#6.5.4
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))